@import url('./fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE STYLES */
@layer base {
  body {
    @apply text-base;
  }
  h1 {
  }
  h2 {
    @apply text-2xl lg:text-4xl;
  }
  h3 {
    @apply lg:text-3xl;
  }
  h4 {
    @apply lg:text-2xl;
  }
  p {
  }
  .p_small {
  }
  a {
  }
  button {
  }
  .bg-style {
    @apply bg-cover bg-center bg-no-repeat;
  }

  .hero-bg {
    background-image: url('https://res.cloudinary.com/softenin/image/upload/v1734029274/oscar/hero_pcgbog.png');
    height: 656px;
  }
  .companies-bg {
    background-image: url('https://res.cloudinary.com/softenin/image/upload/v1734037604/oscar/companies-hero_xkar2z.png');
    height: 656px;
  }
  .contact-bg {
    background-image: url('https://res.cloudinary.com/softenin/image/upload/v1734038651/oscar/Dreamliner3_d2j2vt.png');
    height: 656px;
  }
  .services-bg {
    background-image: url('https://res.cloudinary.com/softenin/image/upload/v1734071925/oscar/Text_prwb5q.png');
    height: 656px;
  }

  .sb {
    @apply border border-red-500;
  }

  .container {
    margin: 0 auto;
    width: calc(100% - 50px);
    max-width: 1320px;
  }

  @media (min-width: 960px) {
    .container {
      width: calc(100% - 160px);
    }
  }

  @media (min-width: 1440px) {
    .container {
      width: calc(100% - 180px);
    }
  }
}

/* CUSTOM COMPONENT STYLES */
@layer components {
}

/* CUSTOM UTILITIES STYLES */
@layer utilities {
}
